<div class="container">
  <div class="row">
    <div class="col">
      <h1>Aplicación de Calculadora</h1>
      
      <label for="operandoA">Operando A</label>
      <input type="number" class="form-control"
        [(ngModel)] = "operandoA"
      />

      <label for="operandoB">Operando B</label>
      <input type="number" class="form-control"
        [(ngModel)] = "operandoB"
      />

      <button class="btn btn-primary" (click)="sumar()">Sumar</button>

      <label>Resultado: </label>
      {{ resultado }}
    </div>
  </div>
</div>